* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/*23/07/17 добавил отступ слева*/
header {
    background-color: #ffa500;
    min-height: 100px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
}

img {
    width: 48%;
    float: left;
    /*min-height: 200px;*/
    margin: 1%;
}

.description-container{
	min-height: 85px;
}

/*23/07/17 убрал лишние отступы*/
/*header h1,
header p {
    margin: 5%;
}*/
h1{
    padding-bottom: 1%;
}
h2, p{
    margin-bottom: 3%;
}
/*23/07/17 убрал лишнее нижнее поле в заголовке*/
.task{
    margin-bottom: 0;
}
article {
    margin: 1%;
    width: 31.33%;
    float: left;
    margin-bottom: 2%;
}

main {
    min-height: 100px;
    max-width: 1200px;
    width: 100%;
    padding: 1%;
}

@media all and (max-width: 960px) {
    img {
        width: 100%;
    }
}

@media all and (max-width: 500px) {
    article {
        width: 100%;
        margin: 0;
        margin-bottom: 2%;
    }
}